.senha {
    position: relative;
}

.senha i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal-body{
    text-align: justify;
}

.modal-body a{
    text-decoration: underline  !important;
    color: darkgoldenrod;
}

.privacidade a{
    text-decoration: underline  !important;
    color: darkgoldenrod;
}