body{
    /* alinhar itens no centro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.senha {
    position: relative;
}

.senha i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}