.navbar-brand{
    display: flex;
  }
  
.navbar-brand h5{
padding-left: 15px;
}

.body-nav ul li .nav-link{
color: #fff !important;
}

.atento a{
    color: darkgoldenrod !important;
    text-decoration: underline !important;
}

.atento a:hover{
  color: #000 !important;
}

.senha {
  position: relative;
}

.senha i {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
  